.img {
    max-width: 100%;
    position: relative;
    line-height: 0;
    display: block;
}

body {
background-color: black;
background-position:50% 50px;
}

.auidio-container{
    height:50px;
    width:100px;
}

audio {
    width: 100px;
    height: 50px;
}
